.DS_Store
.vscode
.idea
*.iml
*.code-workspace
.changelog

node_modules
.yarn

.eslintcache

yarn-error.log
build
coverage
.docusaurus
.cache-loader
types

packages/docusaurus/lib/
packages/docusaurus-*/lib/*
packages/docusaurus-*/lib-next/

website/i18n/**/*

_skbuild/*
tests/*/out-files/*
tests/*/log-files/*
examples/*/out-files/*
examples/*/log-files/*
tutorials/*/out-files/*
tutorials/*/log-files/*
src/spartans.egg-info/*
*checkpoint.ipynb
*/.ipynb_checkpoints/*
